section.destination
   .destination
      h2.main-title POPULAR DESTINATIONS
      .destination-country
         img.spain(src="img/Spain.png", alt="Spain" id='spain')
         img.japan(src="img/Japan.png", alt="Japan" id='japan')
         img.usa(src="img/USA.png", alt="USA" id='usa')
      .sliders-control
         button.slider-button(type='button' id='one')
         button.slider-button.current(type='button' id='two')
         button.slider-button(type='button' id='three')
      a.button Find More.slider-button