section.explore
   .explore__container
      .explore-main 
         h1.explore-title Explore the beauty of the World
         p.explore-text Receive personalized recommendations for countries, hotels, activities and more
         .explore-planning
            p.wouldYouLike What would you like to do?
            a.button(href="#") Start Planning
