section.properties
   .properties__container.column
      h2.properties-title Our Featured Properties. 
      .properties-text One of our biggest product to be featured and that has sold out the most.
      a.button.properties-button(href="#") View More
      .properties-grid
         .house-type
            img(src="img/housethree.png", alt="house")
            .properties-name-property
               p.properties-name IVY RORY
               p.properties-property Duplex
            .properties-location-price
               p.properties-location Lekki,phase 2
               p.properties-price $2,000
         .house-type
            img(src="img/house4.png", alt="house")
            .properties-name-property
               p.properties-name REXONA
               p.properties-property Duplex
            .properties-location-price
               p.properties-location Lekki,phase 2
               p.properties-price $2,000
         .house-type
            img(src="img/house5.png", alt="house")
            .properties-name-property
               p.properties-name The Palace
               p.properties-property Duplex
            .properties-location-price
               p.properties-location Lekki,phase 2
               p.properties-price $2,000