section.search
   .search-location
      h3.search-title Location
         .select-main   
            select.sub-menu(id="selectlocation")
               option(id="Lekki") Lekki 
               option(id="New-York") New York
               option(id="Bruklin") Bruklin
               option(id="Bulguma") Bulguma
      .select-menu-location
         .Lekki
            span Lekki
         .New-York
            span New York
         .Bruklin
            span Bruklin
         .Bulguma
            span Bulguma            

   .search-property
      h3.search-title Property type
         .select-main   
            select.sub-menu(id="selectproperty")
               option(id="Duplex") Duplex
               option(id="House") Just House
               option(id="Village") Village
               option(id="Cottage") Cottage 
      .select-menu-property
         .Duplex
            span Duplex
         .House
            span Just House
         .Village
            span Village
         .Cottage
            span Cottage

   .search-price
      h3.search-title Max Price
         .select-main   
            select.sub-menu(id="selectprice")
               option(id="one") $10,000
               option(id="two") $7,500
               option(id="three") $5,000
               option(id="fou") $2,500
      .select-menu-price
         .one
            span $10,000
         .two
            span $7,500
         .three
            span $5,000
         .fou
            span $2,500
   .search-main
      a.button.search-button(href="#") Search

             
