section.steps
   .steps__container
      .steps-main 
         h2.main-title 3 STEPS TO THE PERFECT TRIP
         .desc
            .step 
               img(src="img/bike.svg", alt="bike")
               p.desc-text  Tell us what you want to do 
            .step 
               img(src="img/data.svg", alt="data")
               p.desc-text  Share us preferable dates  
            .step 
               img(src="img/air.svg", alt="air")
               p.desc-text  We will give you recommendations 