section.testimonials
   .testimonials__container.column
      h2.properties-title Testimonials.
      .properties-text This is what our client are saying
      a.button.properties-button(href="#") View More
      .properties-grid
         .testimonials-type
            h3.testimonials-name Alex Godwin
            p.testimonials-country South Africa
            p.testimonials-saying Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames ut dictumst urna, lorem nibh. Pretium leo hendrerit interdum netus
         .testimonials-type
            h3.testimonials-name Alex Godwin
            p.testimonials-country South Africa
            p.testimonials-saying Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames ut dictumst urna, lorem nibh. Pretium leo hendrerit interdum netus
         .testimonials-type
            h3.testimonials-name Alex Godwin
            p.testimonials-country South Africa
            p.testimonials-saying Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fames ut dictumst urna, lorem nibh. Pretium leo hendrerit interdum netus