section.works
   .works__container
      h2.works-title How it works.
      .works-desc This is how our products works
      .advantages-grid
         .advantages 
            .image 
               img(src="img/home.svg", alt="find-home")
            h3.advantages-title Find Home   
            .advantages-text Our properties are located at prime areas where by there won’t be problem with transportation.  
         .advantages 
            .image 
               img(src="img/Smart-house.svg", alt="find-home")
            h3.advantages-title Make payments   
            .advantages-text Our estates comes with good network,portable water , 24hrs light and round the clock security. 
         .advantages 
            .image 
               img(src="img/Secure.svg", alt="find-home")
            h3.advantages-title Make it Official    
            .advantages-text We have been in business for over 32 years,for client outside the country you can trust  us to deliver well.  
      