extends layout/app

block page
   div.wrapper
      include chunk/header

      include section/explore

      include section/steps   

      //- include section/works

      //- include section/chooseus

      //- include section/properties

      //- include section/testimonials

      //- h1.title Главная
   
      
         
      //- img(src="img/efeito-mask.png", alt="122")
         

      //- ul.news 
      //-    each item in news
      //-       li= item.name

      include chunk/footer