header.header 
   div.header__container
      .header__menu
         a.header-logo(href="#") 
            img(src="img/logo.svg", alt="123")
         nav.navigation-main  
            ul.menu-list
               li.menu-item  
                  a(href="#") How It Works    
               li.menu-item  
                  a(href="#") Plan Your Trip    
               li.menu-item  
                  a(href="#") Destinations    
               li.menu-item  
                  a(href="#") Travel Stories   
         a.button(href="#") Login           
             