doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Travel
      link(rel="stylesheet", href="css/main.min.css")
      <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:regular,500" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Aleo:regular,italic,700" rel="stylesheet" />
      script(src="js/main.js")
      script(ENGINE="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(ENGINE="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js")

   body 
      block page
      script(src="js/main.js")